* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: chartreuse;
}

form {
    display: inline-block;
}

#input-box {
    height: 40px;
}

#input-box:hover {
    border: 2px solid red;
}

button {
    padding: 5px;
    width: 200px;
    min-height: 50px;
    background-color: darkgreen;
    color: bisque;
    font-weight: 800;
}

button:hover {
    background-color:dodgerblue;
}

.hidden {
    display: none;
}

.wrapper {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

section {
    display: flex;
    gap: 20px;
}

summary {
    height: 40px;
    background-color: brown;
    margin-bottom: 26px;
    margin-left: 300px;
    border-radius: 10px;
    padding: 5px;
}

p::before {
    content: "**";
    color: red;
    font-size: 30px;

}

p {
    height: 40px;
    width: 200px;
    margin-bottom: 26px;
    padding: 5px;
    text-align: center;
    outline: 2px solid black;
    font-weight: bold;

}

/* details {
    font-size: 1.5rem;
}
 */
